.table{
    position: relative;
    width: 90%;
    border:none;
    border-radius: 10px;
    margin: 0px auto;
    text-align: center;
    font: 10pt verdana;
    margin-bottom: 40px;
    border-spacing: 4px;
}

.table th{
    padding: 20px;
    background-color: #F3DFBA;
    border: 5px;
}

.table tr{
    padding: 20px;
    background-color: #FFF2D4;

}
.table tr:hover{
    background-color: #EFC6A0;
    cursor: default;
}
.table tr td{
    padding: 10px 50px;
}


/*border:1px solid #CCCCCC;
border-radius: 20px;
